/* .container{
display: flex;
justify-content: center;
align-items: center;
height: 10vh;

}

.title{
font-size: 42px;
text-align: center;

} */

.container {
    margin-top: 80px;

 height: 30px;
display: table;
width: 100%;
text-align: center;

}

.title  {
    display: table-cell;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif,
    'FontAwesome Regular';
  text-transform: uppercase;
  letter-spacing: 0.2em;
  vertical-align: middle;
  line-height: 10vh;
  text-align: center;
  
}


